html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, textarea, input {
    margin: 0;
    padding: 0;
}

address, cite, dfn, em, var, i {
    font-style: normal;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
    color: #666;
    padding: 0 !important;
    background: #F8F9FB;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, th {
    font-size: 100%;
    font-weight: normal;
}

button, input, select, textarea {
    font-size: 100%;
}

fieldset, img {
    border: 0;
}

a {
    text-decoration: none;
    color: #666;
    background: none
}

ul, ol {
    list-style: none;
}

:focus {
    outline: none;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
    overflow: hidden
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 修改时间下来框样式 */
.el-picker-panel .el-time-panel__content.has-seconds {
    height: 550px !important;
    max-height: 550px !important;
}

.el-picker-panel .el-time-panel__content.has-seconds::before {
    display: none !important;
}

.el-picker-panel .el-time-spinner__wrapper {
    max-height: 500px !important;
}

.el-picker-panel .el-time-spinner {
    height: 500px !important;
}

.el-picker-panel .el-time-spinner__item {
    height: 20px !important;
    line-height: 20px !important;
}

.el-picker-panel .el-time-spinner__list::before {
    height: 40px !important;
}

.el-picker-panel .el-time-spinner__list::after {
    height: 460px !important;
}

.el-time-panel__content::before, .el-time-panel__content::after {
    display: none !important;
}

.v-modal {
    background: rgba(0, 0, 0, 0.5) !important;
}
